:root {
  --Very-Light-Grayish-Blue: #f6f6fe;
  --Light-Grayish-Blue: #b3b5c6;
  --Grayish-Blue: #6d708d;
  --Dark-Grayish-Blue: #494c5f; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 50%; }
  @media only screen and (min-width: 70em) {
    html {
      font-size: 62.5%; } }

body {
  background-color: var(--Very-Light-Grayish-Blue);
  background-image: url(../../assets/bg-bottom.svg), url(../../assets/bg-top.svg);
  background-position: bottom -20px left -10px, top -20px right -10px;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif; }
  @media only screen and (min-width: 70em) {
    body {
      background-position: bottom -20px left -10px, top -20px right -10px; } }

.container {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 70em) {
    .container {
      flex-direction: row;
      margin: 0 10rem; } }
  .container .card {
    width: 80%;
    border-radius: 1rem;
    padding: 3rem 3rem;
    height: 40rem;
    margin-bottom: 3rem;
    box-shadow: -5px 5px 15px var(--Light-Grayish-Blue); }
    @media only screen and (min-width: 70em) {
      .container .card {
        padding: 3rem 2rem;
        width: 27%; } }
    .container .card--white {
      background-color: #fff;
      color: var(--Grayish-Blue); }
      @media only screen and (min-width: 70em) {
        .container .card--white {
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem; } }
    .container .card--blue {
      background: linear-gradient(#a3a8f0, #696fdd);
      color: #fff; }
      @media only screen and (min-width: 70em) {
        .container .card--blue {
          height: 45rem;
          padding: 5.3rem 2.5rem; } }

.heading--title {
  font-size: 2.5rem;
  color: var(--Grayish-Blue); }

.card__title {
  font-size: 2rem;
  font-weight: 600; }

.card__price {
  font-size: 4rem; }
  .card__price--dark {
    color: var(--Dark-Grayish-Blue); }

.heading--tertiary {
  font-size: 1.5rem;
  color: var(--Grayish-Blue); }

.header {
  text-align: center;
  margin-top: 2rem; }
  @media only screen and (min-width: 70em) {
    .header {
      margin-top: 7rem; } }

.card__plan {
  text-align: center;
  margin-bottom: 2rem; }

.btn {
  text-decoration: none;
  padding: 1.2rem 10rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  text-transform: uppercase;
  transition: all .5s; }
  @media only screen and (min-width: 70em) {
    .btn {
      padding: 1.2rem 9rem; } }
  @media only screen and (min-width: 20em) {
    .btn {
      padding: 1.2rem 7rem; } }
  .btn--white {
    background-color: #fff;
    color: #696fdd; }
    .btn--white:hover {
      background: linear-gradient(#696fdd, #696fdd);
      border: 1px solid #fff;
      color: #fff; }
  .btn--blue {
    background: linear-gradient(#a3a8f0, #696fdd);
    color: #fff; }
    .btn--blue:hover {
      background: linear-gradient(#fff, #fff);
      border: 1px solid #696fdd;
      color: #696fdd; }

.btn--toggle {
  display: none; }

.label {
  cursor: pointer;
  width: 15%;
  height: 3rem;
  display: block;
  border-radius: 10rem;
  position: relative;
  margin: 0 1.5rem;
  background: linear-gradient(#a3a8f0, #696fdd); }
  @media only screen and (min-width: 70em) {
    .label {
      width: 4.2%;
      height: 3rem; } }

.label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--Very-Light-Grayish-Blue);
  border-radius: 9rem;
  transition: all .3s; }
  @media only screen and (min-width: 70em) {
    .label::after {
      top: 2px;
      left: 5px;
      width: 2.5rem;
      height: 2.5rem; } }

input:checked + .label {
  background: linear-gradient(#b3b5c6, #a3a8f0); }

input:checked + .label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%); }

.btn__container {
  text-align: center;
  margin-top: 4.5rem; }

.mb-2 {
  margin-bottom: 1.5rem; }

.mb-4 {
  margin-bottom: 3rem; }

.mx-5 {
  margin: 0 5rem; }
  @media only screen and (min-width: 70em) {
    .mx-5 {
      margin: 0 2rem; } }

.pricing__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: -5rem; }
  @media only screen and (min-width: 70em) {
    .pricing__container {
      margin-bottom: 5rem; } }

.attribution {
  display: flex;
  justify-content: center;
  align-items: center; }

.pricing__list {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700; }
  @media only screen and (min-width: 70em) {
    .pricing__list {
      padding: 0 1.2rem; } }
  .pricing__list--item:not(:last-child) {
    margin-bottom: .3rem; }
  .pricing__list--item:last-child {
    border-bottom: 1px solid #e1f1ff; }
  .pricing__list--item {
    padding: 1.5rem 0;
    border-top: 1px solid #e1f1ff; }
