:root {
    --Very-Light-Grayish-Blue: #f6f6fe;
    --Light-Grayish-Blue: #b3b5c6;
    --Grayish-Blue: #6d708d;
    --Dark-Grayish-Blue: #494c5f;
}

// BREAKPOINT
$bp-large: 70em;
$bp-largest: 90em;
$bp-small: 20em;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%;

    @media only screen and (min-width: $bp-large) {
        font-size: 62.5%;
    }
}

body {
    background-color: var(--Very-Light-Grayish-Blue);
    background-image: url(../../assets/bg-bottom.svg), url(../../assets/bg-top.svg);
    background-position: bottom -20px left -10px, top -20px right -10px;
    @media only screen and (min-width: $bp-large) {
        background-position: bottom -20px left -10px, top -20px right -10px;
    }
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}