.heading--title {
    font-size: 2.5rem;
    color: var(--Grayish-Blue);
}

.card__title {
    font-size: 2rem;
    font-weight: 700;
}

.card__price {
    font-size: 4rem;
}

.heading--tertiary {
    font-size: 1.5rem;
    color: var(--Grayish-Blue);
}