.header {
    text-align: center;
    margin-top: 2rem;
}

.card__plan {
    text-align: center;
    margin-bottom: 2rem;
}

.btn {
    text-decoration: none;
    padding: 1.2rem 3rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-transform: uppercase;
    transition: all .5s;

    @media only screen and (min-width: $bp-large) {
        padding: 1.2rem 9rem;
    }

    &--white {
        background-color: #fff;
        color: #696fdd;

        &:hover {
            background: linear-gradient(#696fdd, #696fdd);
            border: 1px solid #fff;
            color: #fff;
        }
    }

    &--blue {
        background: linear-gradient(#a3a8f0, #696fdd);
        color: #fff;

        &:hover {
            background: linear-gradient(#fff, #fff);
            border: 1px solid #696fdd;
            color: #696fdd;
        }
    }

    
}

.btn--toggle {
    display: none;
}

.label {
    cursor: pointer;
    width: 15%;
    height: 3rem;
    display: block;
    border-radius: 10rem;
    position: relative;
    margin: 0 1.5rem;
    background: linear-gradient(#a3a8f0, #696fdd);

    @media only screen and (min-width: $bp-large) {
        width: 5%;
        height: 3rem;
    }
}

.label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--Very-Light-Grayish-Blue);
    border-radius: 9rem;
    transition: all .3s;

    @media only screen and (min-width: $bp-large) {
        top: 2px;
        left: 5px;
        width: 2.5rem;
        height: 2.5rem;
    }
}

input:checked + .label {
    background: linear-gradient(#b3b5c6, #a3a8f0);
}

input:checked + .label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.btn__container {
    text-align: center;
    margin-top: 4.5rem;
}

.mb-2 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 3rem;
}

.mx-5 {
    margin: 0 5rem;

    @media only screen and (min-width: $bp-large) {
        margin: 0 2rem;
    }
}

.pricing__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -5rem;

    @media only screen and (min-width: $bp-large) {
        margin-bottom: 5rem;
    }
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
}